<h1>Listing travels</h1>

<table>
  <thead>
    <tr>
      <th>Trip</th>
      <th>Rower</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @travels.each do |travel| %>
      <tr>
        <td><%= travel.trip_id %></td>
        <td><%= travel.rower_id %></td>
        <td><%= link_to 'Show', travel %></td>
        <td><%= link_to 'Edit', edit_travel_path(travel) %></td>
        <td><%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travel', new_travel_path %>
