<p id="notice"><%= notice %></p>

<p>
  <strong>Trip:</strong>
  <%= @travel.trip_id %>
</p>

<p>
  <strong>Rower:</strong>
  <%= @travel.rower_id %>
</p>

<%= link_to 'Edit', edit_travel_path(@travel) %> |
<%= link_to 'Back', travels_path %>
